.paginationContainer {
    display: flex;
    flex-direction: row;
    padding-top: 36px;
    align-items: center;
    justify-content: center;
}

.paginationButton {
    border-style: none;
    list-style: none;
    outline: none;
    text-decoration: none;
    min-height: 30px;
    min-width: 30px;
    border-bottom: 3px solid transparent;
    background-color: #E5E5E5;
}

.paginationSelectedButton {
    border-bottom: 3px solid #65B79A;
}

.paginationText {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
